@media screen and (max-width: 700px) {
	.wrapper {
		grid-template-areas:
			"header"
			"content"
			"footer";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		min-height: 100vh;
	}

	.lhs-border {
		display: none;
	}

	.nav-bar {
		height: fit-content;
	}

	.index-splash-image {
		background-image:
			linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
			url("../images/dave_mowingword.jpg");
	}

	.index-splash-image h1 {
		left: 10px;
		font-size: 2rem;
	}

	main {
		padding-inline: 1rem;
	}
}
